.dropdown-menu {
  min-width: 200px;
  overflow-x: hidden;
}
.dropdown-menu.columns-2 {
  min-width: 400px;
}
.dropdown-menu.columns-3 {
  min-width: 600px;
}
.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}
.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #3bcedb;
}

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}

.pushy-content ul {
  list-style-type: none;
  padding: 0px;
}

.selectcat {
  margin: 26px;
  color: white;
}

#allcoursesbutton, #catbutton, #azbutton {
  border-radius: 0px;
}

#azbutton:active, #azbutton:hover, #azbutton:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.categoryname a {
  font-size: 18px;
  color: #b1f9ff;
}